*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: url(RRR.jpg);
    background-size: cover;
}
form{
    margin-top: 50px;
    text-align: center;
}
input, select{
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 2px solid rgb(126, 45, 45);
    background: transparent;
    /* color: rgb(231, 221, 221); */
}
/* .nextsign{
    width: 350px;
    height: 40px;
    outline: none;
    border: none;
    font-size: 40px;
    background-color: rgb(202, 180, 180);
    border: none;
    color: white;
    margin-top: 20px;
    text-align: center;
} */
form h1{
    margin-bottom: 30px;
    color: white;
}
.DOB
{
    color: white;
}
.genvalue{
    color:rgb(24, 23, 23);
}
.signbtn{
    height: 45px;
    width: 90%;
    border: none;
    outline: none;
    background:linear-gradient(to right top, rgb(241, 8, 241),rgb(46, 43, 219),skyblue);
    background-size: 200%;
    transition: 0.5s;
    color: white;
    font-size: 15px;
    border-radius: 10px;
}
h1{
    text-align: center;
    margin-bottom: 45px;
    color: rgb(14, 12, 12);
    font-size: 60px;
}
.signbtn:hover{
    background-position: right;
    font-size: 17px;
}
#sex{
    color: white;
}
::placeholder{
    color: white;
}
#sex.genvalue{
    color: black;
}